# Seznami

Še nekaj uporabnih načinov dela s seznami, ki vedno pridejo prav.

In [1]:
mesta = ['ljubljana',"ljubljana", 'maribor', 'koper', 'piran', 'kranj', 'celje', 'ptuj']

In [13]:
len(mesta)

8

In [16]:
mesta.count("koper")

1

In [17]:
mesta[1] = "velenje"

In [18]:
mesta

['ljubljana', 'velenje', 'maribor', 'koper', 'piran', 'kranj', 'celje', 'ptuj']

In [19]:
del mesta[0]

In [20]:
mesta

['velenje', 'maribor', 'koper', 'piran', 'kranj', 'celje', 'ptuj']

In [24]:
"ljubljana" not in mesta

True

In [26]:
import random
random.choice(mesta)

'piran'

In [29]:
for i, j in enumerate(mesta):
    print(j.upper(), "je v našem seznamu na :", i+1)

VELENJE je v našem seznamu na : 1
MARIBOR je v našem seznamu na : 2
KOPER je v našem seznamu na : 3
PIRAN je v našem seznamu na : 4
KRANJ je v našem seznamu na : 5
CELJE je v našem seznamu na : 6
PTUJ je v našem seznamu na : 7

In [32]:
mesta.index("koper",5, 8 )

ValueError: 'koper' is not in list

In [33]:
mesta.append("novo mesto")

In [34]:
mesta

['velenje',
 'maribor',
 'koper',
 'piran',
 'kranj',
 'celje',
 'ptuj',
 'novo mesto']

In [35]:
tuja_mesta =["berlin", "dunaj", "praga" , "zagreb"]

In [36]:
mesta.extend(tuja_mesta)

In [37]:
mesta

['velenje',
 'maribor',
 'koper',
 'piran',
 'kranj',
 'celje',
 'ptuj',
 'novo mesto',
 'berlin',
 'dunaj',
 'praga',
 'zagreb']

In [38]:
mesta.remove("novo mesto")

In [39]:
mesta

['velenje',
 'maribor',
 'koper',
 'piran',
 'kranj',
 'celje',
 'ptuj',
 'berlin',
 'dunaj',
 'praga',
 'zagreb']

In [40]:
odstranjen = mesta.pop(3)

In [41]:
odstranjen

'piran'

In [42]:
mesta

['velenje',
 'maribor',
 'koper',
 'kranj',
 'celje',
 'ptuj',
 'berlin',
 'dunaj',
 'praga',
 'zagreb']

In [43]:
mesta.insert(4 , "murska sobota")

In [44]:
mesta

['velenje',
 'maribor',
 'koper',
 'kranj',
 'murska sobota',
 'celje',
 'ptuj',
 'berlin',
 'dunaj',
 'praga',
 'zagreb']

In [46]:
mesta.index("zagreb")

10

In [47]:
mesta.sort()

In [48]:
mesta

['berlin',
 'celje',
 'dunaj',
 'koper',
 'kranj',
 'maribor',
 'murska sobota',
 'praga',
 'ptuj',
 'velenje',
 'zagreb']

In [52]:
nek_seznam = ["A", "a", "b", "C"]

In [53]:
nek_seznam.sort(key=str.lower)

In [54]:
nek_seznam

['A', 'a', 'b', 'C']

In [55]:
nek_seznam.reverse()

In [56]:
nek_seznam

['C', 'b', 'a', 'A']

In [57]:
kopija = nek_seznam.copy()

In [58]:
kopija

['C', 'b', 'a', 'A']

In [59]:
enka, dvojka, trojka = [1, 2, 3]

In [60]:
enka

1

In [61]:
dvojka

2

***

## Naloge

Napiši program, ki preveri ali je list prazen ali ne.

In [64]:
l = []
if not l:
    print("seznam je prazen")

seznam je prazen

Napiši program, ki naključno izbere elemnt iz seznama (namig: ```random```)

In [68]:
l1 = ["mikrofon", 5, "travnik", 1.5, {"geslo":157, "ime": "siej"}]
print(random.choice(l1))

travnik

## Zamenjaj zadnjega

Napiši program, ki zadnji element v seznamu zamenja z elementi z drugega seznama.

In [69]:
num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]

In [70]:
num1[-1:] = num2

In [71]:
num1

[1, 3, 5, 7, 9, 2, 4, 6, 8]

## Spremeni pozicijo

Napiši funkcijo, ki premakne vsak n-ti element z n+1. Npr: ```[0,1,2,3,4,5] => [1,0,3,2,5,4]```

In [77]:
sez = [0,1,7,3,4,4]

In [73]:
def spremeni(seznam):
    nov_seznam = []
    for i in range(0, len(seznam), 2):
        nov_seznam.append(seznam[i+1])
        nov_seznam.append(seznam[i])
    return nov_seznam

In [75]:
spremeni(sez)

[1, 0, 3, 2, 5, 4]

In [80]:
for i in range(0, len(sez), 2):
    print(sez[i])

0
7
4

## Razdeli dolg seznam

Napiši funkcijo, ki sprejme dolg seznam in ga razdeli na vsak N-ti element na enakomerno manjše sezname. ``` N = 3```

Primer : ```['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n'] => [['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]```

In [83]:
a = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n']

In [84]:
def raz(dolg, korak):
    nov_dolg = []
    for i in range(korak):
        nov_dolg.append(dolg[i::korak])
    return nov_dolg

In [88]:
raz(a, 3)

[['a', 'd', 'g', 'j', 'm'], ['b', 'e', 'h', 'k', 'n'], ['c', 'f', 'i', 'l']]

## Mesta črk

Napiši funkcijo, ki sprejem besedo in črko, vrne pa seznam mest v besedi, kjer nastopi ta črka. Predpostavi, da je beseda in črka napsana z malimi črkami. Kako bi popravil progrma, da bi deloval v vsakem primeru (velike ali male črke).

***

# Terka

In [89]:
terka = ("bla", 5, 5.7)

In [92]:
terka[2] = 7

TypeError: 'tuple' object does not support item assignment

In [93]:
list_terka = list(terka)

In [94]:
list_terka

['bla', 5, 5.7]

In [95]:
nazaj_terka = tuple(list_terka)

In [96]:
nazaj_terka

('bla', 5, 5.7)

In [97]:
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

In [98]:
rezultat = zip(number_list, str_list)

In [102]:
list(rezultat)

[(1, 'one'), (2, 'two'), (3, 'three')]

## Naloge

## Povprečje števil terk v terki

Napiši program, ki izračuna povprečje števil v terkah in vrne seznam povprečji.

In [104]:
terka = ((10, 10, 10, 12), (30, 45, 56, 45), (81, 80, 39, 32), (1, 2, 3, 4)) # V tem primeru torej želimo 
                                                                            #izračunati povprečje števil 10, 30, 81, 1itd...

In [108]:
seznam = []

for i in zip(*terka):
    print(i)
    seznam.append(sum(i)/len(i))

(10, 30, 81, 1)
(10, 45, 80, 2)
(10, 56, 39, 3)
(12, 45, 32, 4)

In [106]:
seznam

[30.5, 34.25, 27.0, 23.25]

## spremenljiv/nespremenjiv (*mutable/immutable*)

In [109]:
neki = ["nion", "nioew", "miofemw"]

In [110]:
bla = neki.copy()

In [111]:
bla

['nion', 'nioew', 'miofemw']

In [112]:
bla = neki

In [113]:
bla

['nion', 'nioew', 'miofemw']

In [114]:
neki.append("nnun")

In [115]:
neki

['nion', 'nioew', 'miofemw', 'nnun']

In [116]:
bla

['nion', 'nioew', 'miofemw', 'nnun']

In [117]:
novsz = bla.copy()

In [118]:
novsz

['nion', 'nioew', 'miofemw', 'nnun']

In [119]:
bla.append("ndiewn")

In [120]:
novsz

['nion', 'nioew', 'miofemw', 'nnun']

***

# Slovarji

In [2]:
avto = {"znamka":"citroen", "barva":"rdeč", "model":"c4"}

In [3]:
avto["znamka"]

'citroen'

In [4]:
avto.keys()

dict_keys(['znamka', 'barva', 'model'])

In [5]:
avto.values()

dict_values(['citroen', 'rdeč', 'c4'])

In [6]:
sezn = list(avto.values())

In [7]:
sezn

['citroen', 'rdeč', 'c4']

In [8]:
for i in avto.keys():
    print(i)

znamka
barva
model

In [9]:
avto.items()

dict_items([('znamka', 'citroen'), ('barva', 'rdeč'), ('model', 'c4')])

In [10]:
for i, j in avto.items():
    print(i)
    print(j)

znamka
citroen
barva
rdeč
model
c4

In [11]:
"c4" in avto.values()

True

In [12]:
"znamka" in avto.keys()

True

In [13]:
spam = {123:"geslo", 66: "zporedna št"}

In [14]:
spam[123]

'geslo'

In [17]:
avto.get("letnik", 2011)

2011

In [18]:
avto

{'znamka': 'citroen', 'barva': 'rdeč', 'model': 'c4'}

In [19]:
avto.setdefault("letnik", 2011)

2011

In [20]:
avto

{'znamka': 'citroen', 'barva': 'rdeč', 'model': 'c4', 'letnik': 2011}

In [21]:
avto.setdefault("znamka", "audi")

'citroen'

In [22]:
sez1 = ["hisa", "avto", "okno"]
sez2 = ["avto", "hisa", "okno"]
sez1 == sez2

False

In [23]:
slov1 = {"starost" : 25, "višina": 180, "spol": "moški"}
slov2 = {"višina": 180, "spol": "moški", "starost" : 25}
slov1 == slov2

True

In [24]:
slovv = {}

In [26]:
slovv

{}

In [27]:
slovv["prvi"] = []

In [28]:
slovv

{'prvi': []}

In [31]:
slovv["prvi"].append(7)

In [32]:
slovv

{'prvi': [7]}

In [33]:
slovv["prvi"].append(10)

In [34]:
slovv

{'prvi': [7, 10]}

# Naloge

Napiši program, ki združi več slovarjev v en slovar:

In [35]:
dic1={1:55, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

In [41]:
dic4 = {}

skupek = (dic1, dic2, dic3)
for i in skupek:
    dic4.update(i)

In [42]:
dic4

{1: 55, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

## Rojstni dnevi

Napiši program, ki shranjuje ali vrača rojstne dneve ljudi. Uporabi slovar. Program naj vpraša po imenu, (če pustimo prazno se program zaključi namig: ```break```). V primeru da je ime že v splovarju, naj vrne rojstni dan, če naj te povpraša po rojstnem dnevu in ga doda v slovar.

In [43]:
rojstni_dnevi = {"Gregor": "2 Nov", "Jure": "26 Feb", "Ana": "20 Jul", "Špela": "1 Avg"}

In [45]:
while True:
    ime = input("Vpii ime (za izhod pusti prazno)")
    if  ime == "":
        break
        
    elif ime in rojstni_dnevi:
        print(ime, "ima rojstni dan", rojstni_dnevi[ime])
        
    else:
        print("ni vnešenih poatko o", ime)
        rojstni = input("vpiši njihov rojstni:")
        rojstni_dnevi[ime] = rojstni
        print("podatki so posodobljeni")

Vpii ime (za izhod pusti prazno)Gregor
Gregor ima rojstni dan 2 Nov
Vpii ime (za izhod pusti prazno)Jure
Jure ima rojstni dan 26 Feb
Vpii ime (za izhod pusti prazno)Franc
ni vnešenih poatko o Franc
vpiši njihov rojstni:5 Dec
podatki so posodobljeni
Vpii ime (za izhod pusti prazno)

In [46]:
rojstni_dnevi

{'Gregor': '2 Nov',
 'Jure': '26 Feb',
 'Ana': '20 Jul',
 'Špela': '1 Avg',
 'Franc': '5 Dec'}

## Ugnezdeni seznami, slovarji

## Odstrani dvojnike s slovarjev

Napiši program, ki odstrani dvojnike iz slovarja.

In [53]:
student_data = {'id1': 
   {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id2': 
  {'name': ['David'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id3': 
    {'name': ['Sara'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
 'id4': 
   {'name': ['Surya'], 
    'class': ['V'], 
    'subject_integration': ['english, math, science']
   },
}

In [54]:
def odstrani(podatki):
    nov_slov = {}
    for kljuc, vrednost in podatki.items():
        if vrednost not in nov_slov.values():
            nov_slov[kljuc] = vrednost
            
    return nov_slov

In [55]:
student_data = odstrani(student_data)

In [56]:
student_data

{'id1': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id2': {'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id4': {'name': ['Surya'],
  'class': ['V'],
  'subject_integration': ['english, math, science']}}

In [48]:
for kljuc, vrednost in student_data.items():
    print(kljuc, vrednost)

id1 {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id2 {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id3 {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}
id4 {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}